.header {
    width         : 15%;
    text-transform: uppercase;
    font-size     : large;
    font-weight   : 600;
}

.header .line {
    width           : 50px;
    background-color: orange;
    height          : 2px;

}

.content {
    display       : inline-block;
    height        : 100px;
    width         : 400px;
    vertical-align: top;
}

input {
    width        : 500px;
    height       : 30px;
    margin-bottom: 20px;
}

textarea {
    width: 500px;
}

.submit {
    border: none;
    color : black;
}